<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.news.mapper.web.UserMapper">
    <select id="login" resultType="com.news.domain.User" >
        select user_id,user_name,gender,introduction,role,avatar from t_user where user_name=#{user_name} and user_password=#{user_password};
    </select>
</mapper>